.top{
    background-color:#5D001E;
    width: 100vw;
    position: relative;
    margin-top: -20px;
    margin-left: -50vw;
    left: 50%;
}

.top img{
    height: 120px;
    margin-left: 186px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.wrapper{
    background-color:#252422;
    width: 100vw;
    position: relative;
    margin-top: -22px;
    margin-left: -50vw;
    left: 50%;
   
}
.wrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 185px;
}

.wrapper li{
    float : left;
}

.wrapper a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}

.wrapper li a:hover{
    background-color: #111;
}

.wrapper ul :nth-child(5){
    float: right;
}

.galeria img{
     width: 100%;   
}

.titulo1{
    padding-left: 191px;
}

.titulo1 h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    margin-bottom: -40px;   
}
